#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul li {
  margin: 20px;
}